@font-face {
    font-family: "Regular";
    src: url("/assets/Assistant-Regular.woff");
}

@font-face {
    font-family: "Bold";
    src: url("/assets/Assistant-Bold.woff");
}

:root{
    --font-regular: "Regular";
    --font-bold: "Bold";
}

body{
    font-family: var(--font-bold);
    margin-right: 0px !important;
}